body {
    background-color: #d1cec7;
}

.choice {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 48px;
    align-items: center;
    justify-content: center;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
}
